
<h1 class="text-center mt-4">Log in for AskAll</h1>

<div class="container bg-green">
 <div class="mb-4">
    <div class="row justify-content-md-center bg-success shadow rounded">
        <div class="p-3 border bg-light col-8 mt-4 mb-4 shadow rounded">
        <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
               <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2 mx-auto shadow rounded", placeholder: "Enter an email" %>
               </div>
               <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-2 mx-auto shadow rounded", placeholder: "Enter your password" %>
               </div>
               <div class="col-auto">
                 <%=f.submit "Log in", class: "btn btn-outline-success mx-auto btn-lg d-grid gap-2 d-md-flex mt-4 col-4 justify-content-md-center" %>
               </div>
            <% end %> 
            <%= link_to '[Cancel and return to homepage]', root_path, class: "mx-auto justify-content-center d-grid gap-2 d-md-flex mt-4 text-info" %>
        </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>

