<nav class="navbar navbar-expand-lg navbar-light bg-light">
<% if user_signed_in? %>
<%= link_to "ASKAPP", root_path, class: "navbar-brand", id: "logo" %>
<% else %>
<%= link_to "ASKAPP", questions_path, class: "navbar-brand", id: "logo" %>
<% end %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <div class="row">
      <a><%= link_to "Ask a question", new_question_path, class: "nav-link" if user_signed_in? %><span class="sr-only" >(current)</span></a>
      <a><%= link_to "Questions", questions_path, class: "nav-link" %><span class="sr-only" >(current)</span></a>
      <a><%= link_to "Pictures", pictures_path, class: "nav-link" %><span class="sr-only" if user_signed_in? >(current)</span></a>
      <%if user_signed_in? && current_user.admin? %>
      <a><%= link_to "Users", users_path, class: "nav-link" %><span class="sr-only" >(current)</span></a>
      <% end %>
    </div>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <a><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
    <% if signed_in? %>
    <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %><span class="sr-only">(current)</span></a>
    <a><%= link_to current_user.username, user_path(current_user), class: "nav-link" %><span class="sr-only">(current)</span></a>
    <% else %>
    <a><%= link_to "Log in", new_user_session_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
    <% end %>
  </form>
</div>
</nav>